*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eee;
}

header{
    background:#d9922e;
    padding:18px;
}

nav ul{
    display:flex;
    justify-content:flex-end;
    gap:30px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.banner
